@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&family=Ultra&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* how to center the main`? */
  background-color: lightblue;
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  height: 100vh;
  border: 20px solid rebeccapurple;
  /* use a font on your page */
}
main.container {
  width: 60vh;
  height: 80vh;
  padding: 30px;
  background-color: white;
  font-size: 2em;
  color: hsl(0, 0%, 49%);
  /* how to arrange children? */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.shadow {
  background-color: aqua;
  width: 40%;
  height: 40%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 1s;
  /* how to center the text`? */

  /* add cursor pointer here or in each child? */
}

/* first try to make similar shadows,then make shadows that you like */
/* make them triggerd by hover */
/* add text shadow and text elevation effect */

/* you can use :nth-child() instead of id if you want */
#one {
  /* use another font on a spesific element */
  box-shadow: 10px 10px rgb(233, 139, 71);
  font-family: "Montserrat", sans-serif;
  font-style: oblique;
}

#two:hover {
  box-shadow: 10px 10px 5px 4px rgb(59, 82, 214);
}
/* add text shadow and then text elevation effect with transform scale` */
#two:hover h4 {
  box-shadow: 2px 3px 4px 2px rgb(89, 66, 189);
  color: rgb(16, 74, 124);
  transform: scale(1.3);
  transition: all 1s;
}
div:nth-child(3) {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#four:hover {
  box-shadow: inset 10px -8px 9px rgb(230, 108, 199);
}
